/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store CODON DB paths and names
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {

    rfam_db = "/hps/software/users/rdf/metagenomics/service-team/users/vkale/datascout/conf/rfam_db.conf"
    taxdump = "/hps/software/users/rdf/metagenomics/service-team/users/vkale/datascout/dbs/taxdump.tar.gz"
    db_path = "/homes/vkale/.etetoolkit/taxa.sqlite"
    
}